@using SenaiApp.Domain.Entidade
@{
    var clientes = (List<Cliente>)ViewBag.Clientes;
}


<h1>Cliente</h1>

<a type="button" class="btn btn-primary" asp-area="" asp-controller="Cliente" asp-action="Form">Novo</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Sexo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var cliente in clientes)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Sobrenome</td>
                    <td>@cliente.Sexo</td>
                    <td><a href="Cliente/Remover/@cliente.Id"> <i class="bi bi-trash"></i></a>
                        <a href="Cliente/Editar/@cliente.Id"> <i class="bi bi-pencil"></i></a>
                    </td>
                </tr>
            }
        }
      
    </tbody>
</table>